&lpuart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&lpuart1_tx_pc1 &lpuart1_rx_pc0>;
	pinctrl-names = "default";
};

/ {
	chosen {
		zephyr,console = &lpuart1;
	};
};

&usart1 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};
